@charset "UTF-8";
/** Breakpoints Responsive design: tablette et desktop*/
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap);
html {
  font-size: 100%;
  /* 16px par défaut */
}

body {
  font-size: 0.75rem;
  /* 12px */
  width: 90%;
  margin: auto;
  font-family: Arial, DMSans, sans-serif;
}
@media screen and (max-width: 650px) {
  body {
    width: 94%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
  line-height: 1.2rem;
}

h1 {
  font-size: 2em;
  /* 24px */
  color: #901C1C;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.filtres {
  display: flex;
  /** Si on a n'a pas besoin de flex direction cet attribut ne dois pas etre affiché*/
  flex-direction: row;
  /** si le pramettre  $justify-content égale à 0 >> on utilise pas l'attribut justify-content */
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .filtres {
    flex-wrap: wrap;
  }
}
.filtres li {
  margin-right: 0.3rem;
  font-size: 0.8rem;
}
.filtres li:last-child {
  margin-right: 0;
}
.filtres__direction {
  justify-content: left;
}

.btn {
  color: #FFFFFF;
  background-color: #901C1C;
  border-radius: 4px;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
}

.tag {
  border: 1px solid #979797;
  color: #901C1C;
  border-radius: 16px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.tag.actived {
  background-color: #901C1C;
  color: #FFFFFF;
  border: 1px solid #901C1C;
}

.menu {
  border: 1px solid yellow;
  color: #FFFFFF;
  background: #901C1C;
  width: 100px;
  height: 50px;
}
.menu a:hover {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.menu .dropdown {
  display: block;
}
.menu .sous a:hover {
  background-color: tomato;
}
.menu .dropdown > a::after {
  content: "▼";
  font-size: 12px;
}
.menu ul {
  list-style-type: none;
}
.menu .sous {
  display: none;
}
.menu ul > li:hover .sous {
  display: block;
}
.menu .sous li {
  width: 100%;
  text-align: left;
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 650px) {
  .bground {
    background: #ffffff;
  }
}

.content {
  margin: 5% auto;
  width: 100%;
  width: 600px;
  background: #D3573C;
  overflow: hidden;
  position: relative;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 4px;
}
@media screen and (max-width: 650px) {
  .content {
    width: 94%;
  }
}

label {
  font-size: 17px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}

input {
  padding: 8px;
  outline: none;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  font-size: 20px;
  height: 48px;
  border-radius: 4px;
  border-style: hidden;
}

.form {
  padding-left: 10px;
  padding-right: 10px;
}

.formData {
  margin-bottom: 0.6rem;
}

textarea {
  resize: none;
  overflow: hidden;
  margin-bottom: 0.6rem;
  width: 100%;
}

.titre_modal {
  padding: 8px;
  font-size: 28px;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #ffffff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.btn_envoyer {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.modal-btn {
  cursor: pointer;
}

/*Style message d'erreur.*/
.error {
  color: #FF0000;
  font-size: 14px;
  background-color: yellow;
}

.ligthbox-modal {
  background: #FFFFFF;
  overflow: hidden;
  padding-top: 4rem;
}
.ligthbox-modal .content {
  background-color: #FFFFFF;
  width: 599px;
  height: 600px;
  margin: auto auto;
}
.ligthbox-modal .caroussel-body {
  display: flex;
  /** Si on a n'a pas besoin de flex direction cet attribut ne dois pas etre affiché*/
  flex-direction: row;
  /** si le pramettre  $justify-content égale à 0 >> on utilise pas l'attribut justify-content */
  justify-content: space-between;
  align-items: center;
  height: 99%;
}
.ligthbox-modal .caroussel-body .caroussel-media {
  display: flex;
  justify-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.ligthbox-modal .caroussel-body img,
.ligthbox-modal .caroussel-body video {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}
.ligthbox-modal .titre {
  font-weight: normal;
  font-size: 0.9rem;
  margin-left: 5%;
  color: #D3573C;
  margin-top: 0.5rem;
  line-height: 1.2rem;
}

.caroussel {
  position: relative;
}

.close-caroussel:after,
.close-caroussel:before {
  background-color: #901C1C;
  cursor: pointer;
  width: 5px;
  left: 30px;
}

.caroussel__container {
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}

.caroussel__next:hover,
.caroussel__prev:hover {
  transform: scale(1.2);
}

.caroussel__next,
.caroussel__prev {
  font-size: 2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  color: #901C1C;
  cursor: pointer;
}

.header {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  /** Si on a n'a pas besoin de flex direction cet attribut ne dois pas etre affiché*/
  flex-direction: row;
  /** si le pramettre  $justify-content égale à 0 >> on utilise pas l'attribut justify-content */
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header h1 {
  font-size: 1.4rem;
  width: fit-content;
}
.header img {
  width: 20rem;
}
.header .header-nav {
  display: flex;
  /** Si on a n'a pas besoin de flex direction cet attribut ne dois pas etre affiché*/
  flex-direction: row;
  /** si le pramettre  $justify-content égale à 0 >> on utilise pas l'attribut justify-content */
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .header-acceuil {
    margin-bottom: 100px;
  }
  .header img {
    width: 16rem;
  }
  .header h1 {
    font-size: 1rem;
  }
  .header nav {
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
  }
  .header nav .filtres {
    width: 70%;
    margin: auto;
  }
  .header nav .filtres li {
    padding-bottom: 6px;
  }
}

/* nav{
  //@include responsive(smartphone){
    align-self: flex-end; /* Seul ce bloc sera aligné à la fin */
/*
.lien-inscrire{
  height: 100px !important;
  padding-top: 40px !important;
  padding-bottom: 40px !important;
  position: absolute;
  top: 0;
  right:3%;
}
.logo_nav nav ul li{
  height: 40px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 20px;
}
.bar-filtres{
  flex-wrap: wrap;
}
*/
.dashboard-photographers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  margin-bottom: 3rem;
}
.dashboard-photographers article {
  text-align: center;
}
@media screen and (max-width: 650px) {
  .dashboard-photographers {
    grid-template-columns: 1fr;
  }
}

.photographer-profil {
  display: flex;
  justify-content: space-between;
  background-color: #FAFAFA;
  padding: 2rem;
  margin-bottom: 2rem;
}

.photographer-media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  margin-bottom: 4rem;
}
@media screen and (max-width: 650px) {
  .photographer-media {
    grid-template-columns: 1fr;
  }
}

.media-card {
  width: 100%;
}
.media-card .media {
  width: 100%;
  border-radius: 4px;
}
.media-card img,
.media-card video {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  border-radius: 4px;
}
.media-card .media-footer {
  display: flex;
  /** Si on a n'a pas besoin de flex direction cet attribut ne dois pas etre affiché*/
  flex-direction: row;
  /** si le pramettre  $justify-content égale à 0 >> on utilise pas l'attribut justify-content */
  justify-content: space-between;
  align-items: center;
  padding-top: 0.2rem;
}
.media-card .media-footer .fa-heart,
.media-card .media-footer span {
  font-size: 1rem;
}
.media-card .media-footer .fa-heart,
.media-card .media-footer span,
.media-card .media-footer h2 {
  color: #901C1C;
}
.media-card .media-footer .fa-heart,
.media-card .media-footer span {
  cursor: pointer;
}

.photographer-footer {
  padding: 0.8rem;
  position: fixed;
  right: 10%;
  background-color: #D3573C;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-weight: bold;
}
@media screen and (max-width: 650px) {
  .photographer-footer {
    position: absolute;
    top: -1000px;
  }
}
@media screen and (min-width: 651px) {
  .photographer-footer {
    bottom: 0;
  }
}
.photographer-footer section {
  width: 15rem;
  display: flex;
  /** Si on a n'a pas besoin de flex direction cet attribut ne dois pas etre affiché*/
  flex-direction: row;
  /** si le pramettre  $justify-content égale à 0 >> on utilise pas l'attribut justify-content */
  justify-content: space-between;
  align-items: center;
}

.access-main {
  background-color: #D3573C;
  width: 8rem;
  position: fixed;
  top: 4px;
  left: calc(50% - 4rem);
  display: none;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  padding: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.photographer-card {
  width: 100%;
}
.photographer-card img {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}
.photographer-card h2 {
  color: #D3573C;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.photographer-card .localisation {
  color: #901C1C;
}
.photographer-card .price {
  color: #979797;
  margin-bottom: 8px;
}
.photographer-card .tagline {
  margin-bottom: 8px;
}
.photographer-card__direction {
  display: flex;
  /** Si on a n'a pas besoin de flex direction cet attribut ne dois pas etre affiché*/
  flex-direction: row;
  /** si le pramettre  $justify-content égale à 0 >> on utilise pas l'attribut justify-content */
  justify-content: space-between;
  align-items: center;
}

.h2-homepage {
  margin-top: 2rem;
}

.photographer-infos {
  display: flex;
}
.photographer-infos .modal-btn {
  margin-left: 2rem;
  width: 8rem;
}
@media screen and (max-width: 650px) {
  .photographer-infos .modal-btn {
    position: fixed;
    bottom: 10px;
    left: calc(50% - 4rem);
    margin-left: 0;
  }
}
.photographer-infos * {
  line-height: 1.5rem;
}

.media-tri {
  margin-bottom: 2rem;
}
.media-tri select {
  height: 2.5rem;
  width: 10rem;
  color: #FFFFFF;
  border: 1px solid #901C1C;
  background-color: #901C1C;
  border-radius: 4px;
  margin-left: 2rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}
@media screen and (max-width: 650px) {
  .media-tri {
    position: absolute;
    top: -1000px;
  }
}

/*# sourceMappingURL=main.css.map */
