@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap);
html {
  font-size: 100%;
  /* 16px par défaut */
}

body {
  font-size: 0.75em;
  /* 12px */
  width: 80%;
  margin: auto;
  font-family: "DM+Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
  line-height: 1.2rem;
}

h1 {
  font-size: 2em;
  /* 24px */
  color: #901C1C;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.filtres {
  display: flex;
  /** Si on a n'a pas besoin de flex direction cet attribut ne dois pas etre affiché*/
  flex-direction: row;
  /** si le pramettre  $justify-content égale à 0 >> on utilise pas l'attribut justify-content */
  justify-content: center;
  align-items: center;
}
.filtres li {
  margin-right: 0.5rem;
}
.filtres li:last-child {
  margin-right: 0;
}

.btn {
  color: #FFFF;
  background-color: #901C1C;
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
}

.tag {
  border: 1px solid #C4C4C4;
  color: #901C1C;
  border-radius: 16px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.tag.actived {
  background-color: #901C1C;
  color: #FFFF;
  border: 1px solid #901C1C;
}

.photographer-card {
  width: 100%;
}
.photographer-card img {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}
.photographer-card h2 {
  color: #D3573C;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.photographer-card .localisation {
  color: #901C1C;
}
.photographer-card .price {
  color: #C4C4C4;
}
.photographer-card__direction {
  display: flex;
  /** Si on a n'a pas besoin de flex direction cet attribut ne dois pas etre affiché*/
  flex-direction: row;
  /** si le pramettre  $justify-content égale à 0 >> on utilise pas l'attribut justify-content */
  justify-content: space-between;
  align-items: center;
}

.menu {
  border: 1px solid yellow;
  color: #FFFF;
  background: #901C1C;
  width: 100px;
  height: 50px;
}
.menu a:hover {
  color: #FFFF;
  border-bottom: 1px solid #FFFF;
}
.menu .dropdown {
  display: block;
}
.menu .sous a:hover {
  background-color: tomato;
}
.menu .dropdown > a::after {
  content: "▼";
  font-size: 12px;
}
.menu ul {
  list-style-type: none;
}
.menu .sous {
  display: none;
}
.menu ul > li:hover .sous {
  display: block;
}
.menu .sous li {
  width: 100%;
  text-align: left;
}

.header {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  /** Si on a n'a pas besoin de flex direction cet attribut ne dois pas etre affiché*/
  flex-direction: row;
  /** si le pramettre  $justify-content égale à 0 >> on utilise pas l'attribut justify-content */
  justify-content: space-between;
  align-items: center;
}

.dashboard-photographers {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 3rem;
  margin-bottom: 3rem;
}
.dashboard-photographers article {
  text-align: center;
}

.photographer-profil {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}

.access-main {
  background-color: #D3573C;
  position: fixed;
  top: 4px;
  display: none;
}
.access-main a {
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
