.header{
  margin-top: 20px;
  margin-bottom: 40px;
   @include flex (row, space-between, center);

  nav{
    @include responsive(smartphone){
      align-self: flex-end; /* Seul ce bloc sera aligné à la fin */
      margin-top: 8rem;
      flex-wrap: wrap;
      
    }
  }
   }
