
//stule page index.
.dashboard-photographers{
   display: grid;
   grid-template-columns: auto auto auto;
   //space between column gap and row gap.
   grid-gap: 3rem;
   margin-bottom: 3rem;
   article{
      text-align: center;
   }
 }
//style page photographer
.photographer-profil{
   border:1px solid red;
   display: flex;
   justify-content: space-between;
}

.photographer-media{
   border: 1px solid red;
}