.access-main{
   background-color: $color2;
   position: fixed;
   top:4px;
   left:50%;
   display: none; 
   color:black;
   //La valeur auto de la propriété margin donne aux marges gauche et droite 
   //l'espace restant disponible dans la page. 
   //Il faut bien se rappeler de donner une propriété width à votre div.
   //witdh :0 auto;
}