.photographer-card{
   img{
      border-radius: 50%;
      width: 12rem;
      height: 12rem;
   }
   h2{
      color: $color2;
      font-size: 2rem;
      margin-bottom: 0,7rem;
   }
   .localisation{
      color:$color1;
   }
   .price{
      color:$color-tag;
   }
   
}
