

.ligthbox-modal{
   background:$color-white;
   overflow: hidden;
   .content {
      background-color: $color-white;
      width: 599px;//ini 60%
      height: 600px;//80%
      border:1px solid red;
      margin: auto auto;
   }
   .caroussel-body{
      @include flex (row, space-between, center);
      height: 100%;//80
      border:1px solid green;
      .caroussel-media{
         display: flex;
         justify-items: center;
         justify-content: center;
         width:100%;//90%
         height: 100%;
         text-align: center;
         
      }
      img,
      video{
         width: 100%;
         height: auto;
         object-fit: cover;
         border-radius: 4px;
      }
   }
   .titre{
      font-weight: normal;
      font-size: 0.9rem;
      margin-left: 5%;
      color:$color2;
      margin-top: 0.5rem;
      line-height: 1.2rem;
   }
}

.caroussel{
   //parceque on va faire bouger le caroussel__container % au caroussel
   position: relative;
}

.close-caroussel:after,
.close-caroussel:before{
 background-color:$color1;
 cursor: pointer;
 width: 5px;
 left:30px
 
}

.caroussel__container{
   transition: transform 0.3s;
   transform: translate3d(0, 0, 0)
}

.caroussel__next:hover, 
.caroussel__prev:hover{
   transform: scale(1.2) ;
}

.caroussel__next, 
.caroussel__prev{
   font-size: 2rem;
   padding-left: 0.4rem;
   padding-right: 0.4rem;
   color:$color1;
   cursor: pointer;
}

