.menu{
   border :1px solid yellow;
   color:$color-white ;
   background: $color1;
   width: 100px;
   height: 50px;;
   
   a:hover{
      color :$color-white;
      border-bottom:1px solid $color-white;
   }
   
   .dropdown{
      display: block;
   }
   
   .sous a:hover{
      background-color: tomato;
   }
   .dropdown > a::after{
      content: "▼";
      font-size: 12px;
   }
   ul{
      list-style-type: none;
   }
   
   .sous{
      display: none;
            
   }//
   //Le sélecteur nav > ul li:hover .sous :Il sert à cibler un sous menu .
   //lorsqu’un utilisateur passe sa souris sur un élt li de la liste représentant notre menu principal.
   ul > li:hover .sous{
      display: block;
   }
   .sous li{
      width:100%;
      text-align: left;
   }//
   
   
}


