.tag{
   border:1px solid $color-tag;
   color:$color1;
   border-radius: 16px;
   padding-left:6px;
   padding-right:6px;
   padding-top:1px;
   padding-bottom:1px;
   &.active{
      background-color:$color1;
      color:$color-white;
   }
}
